* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main video {
    position: absolute;
    z-index: -1;
    background-attachment: fixed;
    position: fixed;

}

.nav {
    width: 100%;
    height: 130px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 45%;
    height: 90px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 42px;
}

.navbar a:hover {
    cursor: pointer;
    color: rgb(35, 7, 7);
    text-decoration: underline;
}

.navdown {
    width: 100%;
    height: 100px;
    position: relative;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.navdown h2 {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 1px;

}

.navdown i {
    font-size: 55px;
    cursor: pointer;
    font-weight: 100;
}

.hero {
    width: 100%;
    height: 150vh;
    z-index: 1;
    background-color: white;
    background-attachment: fixed;
}

.hero-top {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-top h1 {
    font-size: 85px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

.hero-sec {
    width: 100%;
    height: 115vh;
    padding-inline: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-sec1 {
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-between;
    display: flex;
}

.hero1 {
    width: 550px;
    height: 320px;
    background-image: url(https://static.wixstatic.com/media/c9bba4fa4e164d49ac8abe51e2b82ab1.jpg/v1/fill/w_558,h_314,q_90/c9bba4fa4e164d49ac8abe51e2b82ab1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.539);

}

.hero1:hover {
    -webkit-box-shadow: inset 10px 135px 300px 200px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: inset 10px 135px 300px 200px rgba(0, 0, 0, 0.76);
    box-shadow: inset 10px 135px 300px 200px rgba(0, 0, 0, 0.76);
    transition: 0.3s;
}

#i1 {
    background-image: url(./img2.jpeg);
}

#i2 {
    background-image: url(./img3.jpg);
}


.hero1 h2 {
    color: white;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    opacity: 0;
}

.hero1:hover h2 {
    opacity: 1;
    transition: 0.2s;
}

#i4 {
    background-image: url(./img4.jpg);
}

#i5 {
    background-image: url(./img5.jpg);
}

#i6 {
    background-image: url(./img6.jpg);
}

#i7 {
    background-image: url(./img7.jpg);
}

#i8 {
    background-image: url(./img8.jpg);
}

#i9 {
    background-image: url(./img9.jpg);
}

.main2 {
    width: 100%;
    height: 65vh;
    background-image: url(https://static.wixstatic.com/media/6083e67e999345c5aa1aafc7db76022b.jpg/v1/fill/w_1903,h_839,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/6083e67e999345c5aa1aafc7db76022b.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.other {
    width: 100%;
    height: 45vh;
    background-color: white;
    z-index: 1;
    padding-block: 4.5%;
}

.other h1 {
    font-size: 85px;
    font-weight: 400;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.other p {
    text-align: center;
    font-style: normal;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin-top: 50px;
    line-height: 30px;
}

.other2 {
    width: 100%;
    height: 90vh;
    background-image: url(https://static.wixstatic.com/media/d5f99a33f0044179af43cb9685308ce1.jpg/v1/fill/w_1903,h_839,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/d5f99a33f0044179af43cb9685308ce1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.footer {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.footer h1 {
    font-size: 85px;
    font-weight: 450;
    text-align: center;
    padding-top: 60px;
}

.f1 {
    width: 37%;
    height: 70vh;
    margin-left: 30%;
    margin-top: 60px;
}

.name {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.name-left {
    width: 48%;
    height: inherit;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.name-left p {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

.name-left input {
    width: 100%;
    height: 40px;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
}

.name-left input:hover {
    background-color: rgb(230, 230, 230);
    outline: none;
    border: 1px solid rgb(106, 106, 106);
}

.email {
    width: 100%;
    height: 80px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.email p {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

.email input {
    width: 100%;
    height: 40px;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
}

.email input:hover {
    background-color: rgb(230, 230, 230);
    outline: none;
    border: 1px solid rgb(106, 106, 106);
}

.messege {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 35px;
}

.messege p {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

.messege input {
    width: 100%;
    height: 110px;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
    padding-bottom: 50px;

}

.messege input:hover {
    background-color: rgb(230, 230, 230);
    outline: none;
    border: 1px solid rgb(106, 106, 106);
}

.f1 button {
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    margin-top: 20px;
    float: right;
}

.f1 button:hover {
    background-color: RGB(204, 204, 204);
    border: 1px solid black;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

.pare {
    width: 40%;
    height: 70px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.pare-l {
    width: 50%;
    height: inherit;
    display: flex;
    align-items: center;
}

.pare-r {
    width: 40%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pare-r img {
    width: 30px;
    height: 30px;

}

.line {
    width: 100%;
    height: 60px;
    background-color: rgb(153, 55, 23);
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    color: RGB(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}

.line u {
    cursor: pointer;
}